<h2>simple-counter</h2>
<app-simple-counter></app-simple-counter>
<h2>simple-counter solution</h2>
<app-simple-counter-solution></app-simple-counter-solution>

<!-- <div class="content">
  <div class="list">
    <h2>getters</h2>
    <app-getter></app-getter>
  </div>
  <div class="list">
    <h2>getters solution</h2>
    <app-getter-solution></app-getter-solution>
  </div>
</div> -->

<!-- <h2>ngrx-counter without payload</h2>
<app-counter-without-payload></app-counter-without-payload> -->

<!-- <h2>ngrx-counter with payload</h2>
<app-counter></app-counter> -->